{% extends "purl-voc2_nl.j2" %}

{% block summary %}
<p>De woordenschat definieert de entiteiten en eigenschappen die worden gebruikt om toestemming te geven voor uitwisseling en 
omgaan met persoonsgegevens. Deze woordenschat is gekoppeld aan het gelijknamige applicatieprofiel.</p>
<p>Link naar het profiel van de Toestemmingstoepassing: <a href="https://purl.eu/doc/applicationprofile/consent">https://purl.eu/doc/applicationprofile/consent</a></p>
{% endblock %}
