{% extends "purl-ap2_nl.j2" %}

{% block summary %}
<p>Het toepassingsprofiel NETEX Belgium – Stop Places beschrijft hoe de termen uit de bijbehorende <a href="https://purl.eu/ns/mobility/timetables-and-planning">woordenschat</a> moeten worden gebruikt om fysieke haltes te beschrijven en hun link met de logische haltes in een openbaarvervoernetwerk.</p>
<p>De standaard is gebaseerd op het EPIP-profiel op <a href="https://netex-cen.eu/">NETEX.</a></p>
<p>Het gebruik hiervan is het beschrijven van de infrastructuur van halteplaatsen, plannen van halteplaatsen en routeplanning op basis van stations, POI's of topografische plaatsen.<p>De klasse Scheduled Stop Point (uitgebreider besproken in <a href="https://purl.eu/doc/applicationprofile/netex-belgium/timetables-ap">NETEX Belgium - Dienstregelingen</a>) beschrijft de punten waar lijnen stoppen bij het uitvoeren van een dienstrit. Het zijn de logische haltes van een Netwerk, de punten waar je uit de bus kunt stappen, maar ook van waaruit andere haltes in het Netwerk te bereiken zijn of van waaruit je kunt overstappen op haltes van een overlappend Netwerk.</p>
<p>Fysiek realiseren deze haltes zich als een halteplaats, dus deze klasse vertegenwoordigt de fysieke haltes. Dit kan gaan van stoppalen of schuilplaatsen tot complete stations met meerdere verdiepingen voor verschillende vervoersmodaliteiten.</p>
<p>Beide klassen zijn met elkaar verbonden, typisch geval is de multimodale situatie waarbij elk netwerk zijn eigen geplande stopplaatsen heeft, zelfs als ze ruimtelijk samenvallen (bv. een stopplaats waar zowel bussen als trams stoppen). Via de relatie Halteplaats – Geplande Stopplaats kan je nagaan welke openbaarvervoerdiensten je kan verbruiken aan de fysieke halte.</p>
<p>Er wordt verondersteld dat alle Geplande Stoppunten (logische haltes) binnen een Stopplaats (fysieke stop) op wandelafstand van elkaar liggen, met andere woorden dat er impliciete overgangen mogelijk zijn tussen de logische haltes van een Stopplaats. Het model laat momenteel niet toe om deze verbanden expliciet te beschrijven.</p>
<p>Het voordeel van Stop Place is ook dat de fysieke kant van de halte-infrastructuur los van de beschrijving van de topologie van het netwerk kan worden beschreven. Er worden onder andere lessen gegeven zoals Quay en Stop Place Entrance. Het is ook mogelijk om Scheduled Stop Points direct te koppelen aan Quays.</p>
<p>Een Stop Place is ook een Site en dankzij de zelfassociatie van Stop Place kan een hiërarchie van Stop Places worden uitgewerkt. EPIP staat 3 niveaus toe: Algemeen (multimodaal), Monomodaal en Kade. Group Of Stop Places laat u ook toe om gelijkaardige halteplaatsen te groeperen, bv. op basis van hun locatie (bv. alle metrostations in Brussel).</p>
<p>Tot slot noemen we ondersteunende lessen zoals Point Of Interest en Topographic Place (waarmee je een reis kunt plannen zonder de namen van haltes te kennen).</p>
{% endblock %}
