{% extends "purl-voc2_nl.j2" %}

{% block summary %}
<p>De woordenschat ODALA Lucht & Water - Luchtkwaliteit biedt terminologie om waarnemingen van luchtkwaliteit te beschrijven.</p>
<p>Basistermen om waarnemingen te beschrijven werden hergebruikt uit de <a href="https://purl.eu/ns/air-and-water/core">ODALA Air & Water - Core woordenschat</a>, maar voor Luchtkwaliteit werden verschillende nieuwe termen toegevoegd. Elke term beschrijft een bepaald type observatie van de kwaliteit van de lucht.</p>
<p>De klasse AirQualityObservation beschrijft Luchtkwaliteit in algemene termen, hetzij als een LuchtkwaliteitIndex of als een LuchtkwaliteitNiveau: respectievelijk een numerieke score en een categorische beoordeling van Luchtkwaliteit.</p>
<p>De klasse AirPollutantObservation maakt het mogelijk om concentraties van verontreinigende stoffen in de lucht te beschrijven. Als kwantitatieve waarde kan het worden beschreven met een exemplaar van de klasse AirPollutantValueObservation. Als u het resultaat wilt classificeren volgens een bepaald drempelschema, gebruikt u de klasse AirPollutantLevelObservation.</p>
<p>Meer algemene observaties van luchtkwaliteit moeten worden beschreven met de termen in de ODALA Air & Water - Core Vocabulary.</p>
<p>Er wordt een klasse AirFeature aangeboden om aan te geven welk object in de echte wereld daadwerkelijk wordt waargenomen of bemonsterd. Het kan worden vervangen door een instantie van een klasse in het domein van lucht of worden getypt door middel van een codelijst.</p>
{% endblock %}
