{% extends "purl-voc2_nl.j2" %}

{% block summary %}
<p>Deze woordenschat bevat de termen die nodig zijn om de dienstregeling en de planning van het openbaar vervoer te beschrijven.</p>
<p>De terminologie is gebaseerd op EPIP, dit is een profiel op <a href="https://netex-cen.eu/">NETEX</a> dat onder andere toelaat om dienstregelingen en haltes te beschrijven. De termen die kunnen worden gebruikt om voertuigplanning te beschrijven, zijn alleen gebaseerd op NETEX.</p>
<p>Om dienstregelingen te beschrijven kunnen we eerst het aanbod van het openbaar vervoer beschrijven aan de hand van Netwerken, Lijnen en de Routes die ze volgen.</p>
<p>Om de netwerktopologie te beschrijven, kunnen we Punten gebruiken om aan te geven hoe de Routes correct verlopen.</p>
<p>Patronen van beladen ritten (de zogenaamde ServiceJourneys) lopen langs ScheduledStoppoints, dit zijn de logische haltes van het Netwerk: plaatsen van waaruit mensen naar andere haltes kunnen reizen of waar mensen kunnen overstappen op andere lijnen.</p>
<p>Voor de Punten waar de Ritten doorheen gaan (met inbegrip van de Geplande Haltes), kunnen de Passagetijden worden beschreven, ofwel de tijden langs de Haltes van een Lijn (in een bepaalde richting) of alle PassingTimes aan de halte gedurende de dag.</p>
<p>Het is daarbij mogelijk om ServiceJourneys in te delen op dagtype (weekdag, schooldag, etc.) en dit te koppelen aan actuele data om bijvoorbeeld een ServiceCalendar voor een schooljaar te maken.</p>
<p>De ScheduledStoppoints zijn logische haltes, maar het komt vaak voor dat ze ruimtelijk bijna samenvallen (liggen op loopafstand van elkaar) en deel uitmaken van één grote fysieke halte (de Stopplaats), bv. een treinstation.</p>
<p>Het is ook mogelijk om een hiërarchie van haltes te beschrijven (multimodaal, unimodaal, platform). Er kan ook meer informatie gegeven worden over de infrastructuur van de Stopplace, bv. de in- en uitgangen.</p>
<p>Er is ook terminologie in dit vocabulaire om zogenaamde blokken te beschrijven. Dit is een belangrijk concept bij het plannen van de diensten van het openbaarvervoerbedrijf. Het zijn vaste opeenvolgingen van ritten, bedoeld om de voertuigen (en dus de chauffeurs) zo efficiënt mogelijk in te zetten.</p>
<p>Deze kunnen worden gekoppeld aan de meest geschikte voertuigtypes (bijv. op basis van hun passagierscapaciteit) en aan de servicekalender om chauffeurs eenvoudig aan blokken toe te wijzen.</p>
{% endblock %}
