{% extends "purl-voc2_nl.j2" %}

{% block summary %}
<p>De woordenschat ODALA Lucht & Water - Waterkwaliteit biedt terminologie om waarnemingen van waterkwaliteit te beschrijven.</p>
<p>Basistermen om waarnemingen te beschrijven werden hergebruikt uit de <a ref="https://purl.eu/ns/air-and-water/core">ODALA Air & Water - Core woordenschat</a>, maar voor Waterkwaliteit werden verschillende nieuwe termen toegevoegd. Elke term beschrijft een bepaald type observatie van de kwaliteit van water.</p>
<p>Voor de uitwisseling van gegevens over de concentratie van schadelijke of ongewenste stoffen kan gebruik worden gemaakt van een exemplaar van de klasse ChemicalAgentConcentration.</p>
<p>Gebruik voor de biologische kwaliteit van water de klassen BioIndicatorObservation en BioticIndexObservation: de eerste om observaties van levende organismen te beschrijven die als bio-indicator fungeren, de tweede om tellingen van kwetsbare organismen samen te voegen tot een index.</p>
<p>Meer algemene waarnemingen van de waterkwaliteit moeten worden beschreven met de termen in de ODALA Air & Water - Core-woordenschat.</p>
<p>Er wordt een klasse WaterFeature aangeboden om aan te geven welk object in de echte wereld daadwerkelijk wordt waargenomen of bemonsterd. Het kan worden vervangen door elke instantie van een klasse in het domein van water of worden getypt door middel van een codelijst.</p>
{% endblock %}
