{% extends "purl-voc2_nl.j2" %}

{% block summary %}
<p>De woordenschat OSLO-PassengerTransportHubs definieert termen die worden gebruikt om gegevens over vervoershubs voor passagiers uit te wisselen.</p>
{% endblock %}
