{% extends "purl-voc2_nl.j2" %}

{% block summary %}
<p>Het vocabularium Consent definieert de entiteiten en 
eigenschappen die gebruikt worden om toestemming te geven tot het delen en verwerken van persoonlijke data. 
Dit vocabularium is gelinkt aan het gelijknamige applicatieprofiel.</p>
{% endblock %}
