{% extends "purl-voc2_nl.j2" %}

{% block summary %}
<p>De ODALA Air & Water - Core Vocabulary biedt terminologie om waarnemingen in het algemeen te beschrijven. </p>
<p>Veel termen werden hergebruikt uit bestaande normen, namelijk <a href="https://www.iso.org/standard/32574.html">ISO 19156 Observations and Measurements</a> en de <a href="https://www.w3.org/TR/vocab-ssn/">OGC/W3C Semantic Sensor Network Ontology</a>. Enkele nuttige eigenschappen zijn toegevoegd aan bestaande klassen, bijvoorbeeld ObservationCollection.metadata of Observationprocedure.specification. </p>
{% endblock %}
