{% extends "purl-ap2_nl.j2" %}

{% block summary %}
<p>Het toepassingsprofiel NETEX Belgium - Dienstregelingen beschrijft hoe de termen uit de bijhorende <a href="https://purl.eu/ns/mobility/timetables-and-planning">woordenschat</a> gebruikt moeten worden om de netwerktopologie en dienstregelingen van een openbaarvervoersnet te beschrijven.</p>
<p>De standaard is gebaseerd op het EPIP-profiel op <a href="https://netex-cen.eu/">NETEX.</a></p>
<p>Use cases voor deze norm zijn: routeplanning, cartografie (netwerkplannen), dienstregelingen en het opzoeken van haltes/lijnen.</p>
<p>Het openbaar vervoer wordt doorgaans aangeboden in de vorm van lijnen, die kunnen worden gegroepeerd, bijvoorbeeld op basis van de vervoerswijze (trein, tram, bus...) en deel uitmaken van een netwerk. Deze lijnen volgen bepaalde routes op het terrein, het model maakt het mogelijk om de richting en geometrie van deze routes te beschrijven aan de hand van routepunten en verbindingen daartussen, de routelinks.</p>
<p>Een ander deel van het model beschrijft de diensten die door de lijnen worden aangeboden: de plaatsen waar haltes worden gemaakt en de tijden waarop deze haltes worden gemaakt.</p>
<p>Een lijn volgt een zogenaamd reispatroon, d.w.z. de opeenvolging van punten die door de lijn worden bediend. De specialisatie, een Service Pattern, beschrijft de opeenvolging van punten waar je daadwerkelijk stopt. Dit zijn de zogenaamde Scheduled Stop Points: plekken waar passagiers kunnen in- of uitstappen. Deze logische stops kunnen gelinkt worden aan fysieke stops (Stop Place klasse) die afzonderlijk beschreven worden in het toepassingsprofiel <a href="https://purl.eu/doc/applicationprofile/netex-belgium/stopplaces-ap">NETEX Belgium - Stop Places</a>.</p>
<p>Passeertijden kunnen worden gespecificeerd voor elk punt dat door een lijn wordt bediend of waar deze stopt voor passagiers. Deze tijden kunnen per halte worden gegroepeerd, wat de typische dienstregelingen zijn die daar te vinden zijn. Ze kunnen ook worden besteld op basis van het reispatroon van een lijn en vervolgens een individuele servicereis beschrijven met de transittijden bij de haltes.</p>
<p>Een specifieke Service Journey wordt niet noodzakelijkerwijs dagelijks uitgevoerd, maar kan beperkt zijn tot bepaalde Day Types, bv. enkel op weekdagen. Het model laat toe om deze dagtypes te beschrijven en te koppelen aan actuele data (Operationele Dagen) en periodes (Operationele Periodes) om zo tot een volledige Service Calendar te komen.</p>
<p>Tot slot noemen we enkele ondersteunende klassen, bv. om de partijen aan te duiden die het vervoer aanbieden of uitvoeren (respectievelijk de Autoriteit en de Operator) of om Voertuigtypes en hun Passagierscapaciteit te beschrijven of een klasse die de routeplanning ondersteunt (Service Journey Link).</p>
<p>De codelijsten in het diagram zijn slechts illustratief. De lijsten zijn soms onvolledig (aangegeven door de waarde etc aan het einde van de lijst). De opgegeven waarden zijn niet noodzakelijkerwijs de waarden die in een implementatie worden gebruikt.</p>
{% endblock %}
