{% extends "purl-ap2_nl.j2" %}

{% block summary %}
<p>Het ODALA Air & Water - Core applicatieprofiel specificeert hoe Waarnemingen in het algemeen moeten worden beschreven. Het vormt de basis voor domeinspecifieke toepassingsprofielen zoals <a href="https://purl.eu/doc/applicationprofile/AirAndWater/Air">ODALA Air & Water - Air Quality</a> en <a href="https://purl.eu/doc/applicationprofile/AirAndWater/Water">ODALA Air & Water - Water Quality</a>.</p>
<p>Het profiel is gebaseerd op <a href="https://www.iso.org/standard/32574.html">ISO 19156 Observaties en Metingen</a> en op de <a href="https://www.w3.org/TR/vocab-ssn/">OGC/W3C Semantic Sensor Network Ontology</a>.</p>
<p>Uit Waarnemingen en Metingen neemt het profiel de manier aan waarop een Waarneming moet worden beschreven: als een activiteit die op een bepaald moment en met een bepaald Resultaat wordt uitgevoerd. Het wordt van groot belang geacht om duidelijk aan te geven welk Object wordt waargenomen en welk kenmerk van dat Object.</p>
<p>Objecten zijn meestal niet direct waarneembaar, meestal neemt men een deel waar dat als representatief voor het geheel wordt beschouwd. Dit kan een specifieke plaats zijn, bv. een meetstation (klasse SpatialSamplingFeature) of een fysiek staal genomen van het Object (klasse Specimen), bv. een watermonster.</p>
<p>Afhankelijk van de aard van het resultaat van de waarneming worden verschillende soorten waarnemingen onderscheiden (meting, telling, classificatie enz.).</p>
<p>Vaak is het nodig om niet alleen de SamplingFeature zelf te beschrijven, maar ook de manier waarop deze tot stand is gekomen. Om die reden hebben we uit de Semantic Sensor Ontology de manier overgenomen waarop Sampling wordt beschreven.</p>
<p>Bemonstering wordt beschouwd als een activiteit, net als observatie, d.w.z. een gebeurtenis die op een bepaald tijdstip wordt uitgevoerd met een specifiek resultaat. Dat resultaat is de SamplingFeature.</p>
<p>De klassen SamplingProcedure en Sampler laten bovendien toe om te beschrijven hoe en met behulp van welke tools de SamplingFeature is verkregen.</p>
<p>Op dezelfde manier biedt de Semantic Sensor Ontology de klassen ObservationProcedure en Sensor. Dit laatste kan ruim worden geïnterpreteerd als het instrument waarmee de Observatie wordt uitgevoerd.</p>
<p>Een Sensor wordt beschouwd als een specialisatie van een Systeem en verkrijgt op deze manier extra eigenschappen die het mogelijk maken om aan te geven wat bijvoorbeeld de nauwkeurigheid of het bereik van de Sensor is.</p>
<p>Een systeem zoals een sensor is gemonteerd op een platform of nauwer gedefinieerd: een apparaat (dat zelf ook een systeem is). We gebruiken het <a href="https://saref.etsi.org/core/">SAREF-apparaatmodel</a> om apparaten te beschrijven.</p>
<p>Het model bevat ook een klasse ObservationCollection om waarnemingen samen te voegen op basis van gemeenschappelijke attributen, zoals het waargenomen object of de observatietijd. Deze les komt voort uit een <a href="https://www.w3.org/TR/vocab-ssn-ext/">uitbreiding op de Semantic Sensor Ontology</a> en we hebben het gespecialiseerd met Slice, een klasse uit de <a href="https://www.w3.org/TR/vocab-data-cube/">W3C Data Cube Vocabulary</a>.</p>
<p>Observations and Measurements stelt ook de <a href="https://www.iso.org/standard/53798.html">ISO 19115 Metadata-klasse</a> voor om Observations verder te documenteren. We hebben een aantal elementen aan deze les toegevoegd van het <a href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/">Dublin Core Metadata Initiative</a> , zoals auteur, beschrijving, enz.</p>
<p>Tot slot zijn de klassen SamplingFeatureComplex en ObservationContext het vermelden waard, respectievelijk een klasse voor het groeperen van SamplingFeatures (bv. een meetrooster) en een klasse om associaties tussen Waarnemingen te beschrijven (bv. omdat de ene Waarneming op de andere berust).</p>
<p>Een meer formele definitie van de termen die in dit toepassingsprofiel worden gebruikt, is te vinden in de <a href="https://purl.eu/ns/air-and-water/core">woordenschat ODALA Air & Water - Core Vocabulary</a></p>
{% endblock %}
