{% extends "purl-ap2_nl.j2" %}

{% block summary %}
<p>Het toepassingsprofiel ODALA Air & Water - Air Quality geeft aan hoe luchtkwaliteitswaarnemingen moeten worden beschreven.</p>
<p>Het profiel bouwt voort op het <a href="https://purl.eu/doc/applicationprofile/AirAndWater/Core">toepassingsprofiel ODALA Air & Water - Core</a> dat uitlegt hoe waarnemingen in het algemeen moeten worden beschreven. Dat profiel is gebaseerd op <a href="https://www.iso.org/standard/32574.html">ISO 19156 Observations and Measurements</a> en op de <a href="https://www.w3.org/TR/vocab-ssn/">W3C/OGC Semantic Sensor Network Ontology</a>.</p>
<p>Specifiek voor Luchtkwaliteit zijn twee hoofdklassen met elk twee subklassen toegevoegd aan het Kernprofiel, die elk een bepaald type observatie van de luchtkwaliteit beschrijven.</p>
<p>De klasse AirQualityObservation beschrijft Luchtkwaliteit in algemene termen, hetzij als een AirQualityIndex of als een AirQualityLevel. De eerste is een numerieke kwaliteitsscore op een bepaalde schaal, terwijl de laatste de categorische beoordeling is die ervan is afgeleid.</p>
<p>De klasse AirPollutantObservation maakt het mogelijk om de concentraties van verontreinigende stoffen in de lucht te beschrijven, hetzij als een kwantitatieve waarde (klasse AirPollutantValueObservation), hetzij als een classificatie van deze waarde volgens bepaalde drempelwaarden (AirPollutantLevelObservation).</p>
<p>Luchtkwaliteitswaarnemingen die niet tot een van deze klassen behoren, moeten worden beschreven als generieke waarnemingen met de klasse Waarnemingen.</p>
<p>Ten slotte biedt de AirFeature-klasse de mogelijkheid om duidelijk aan te geven welk object wordt waargenomen of bemonsterd (bv. de lucht in Brussel), hetzij als een AirFeature, getypt door middel van een waarde uit een codelijst, hetzij door rechtstreeks te verwijzen naar de instantie van het getypte object.</p>
<p>Een meer formele definitie van de termen die in dit toepassingsprofiel worden gebruikt, is te vinden in de <a href="https://purl.eu/ns/air-and-water/air">woordenschat ODALA Air & Water - Air</a></p>
{% endblock %}
