{% extends "purl-ap2_nl.j2" %}

{% block summary %}
<p>Het toepassingsprofiel ODALA Air & Water - Water Quality specificeert hoe waterkwaliteitswaarnemingen moeten worden beschreven.</p>
<p>Het profiel bouwt voort op het <a href="https://purl.eu/doc/applicationprofile/AirAndWater/Core">toepassingsprofiel ODALA Air & Water - Core</a> dat uitlegt hoe waarnemingen in het algemeen moeten worden beschreven. Dat profiel is gebaseerd op <a href="https://www.iso.org/standard/32574.html">ISO 19156 Observations and Measurements</a> en op de <a href="https://www.w3.org/TR/vocab-ssn/">W3C/OGC Semantic Sensor Network Ontology</a>.</p>
<p>Specifiek voor Waterkwaliteit zijn vier klassen toegevoegd aan het Kernprofiel, die elk een bepaald type observatie van de waterkwaliteit beschrijven.</p>
<p>De klasse WaterQualityParameter beschrijft fysische parameters zoals temperatuur, troebelheid, enz.</p>
<p>De ChemicalAgentConcentration-klasse maakt het mogelijk om de concentratie van schadelijke of ongewenste stoffen in het water te documenteren.</p>
<p>De biologische kwaliteit van het water kan worden beschreven met behulp van de BioIndicatorObservation-klasse die observaties van levende organismen documenteert die fungeren als bioIndicator en de BioticIndexObservation-klasse die wordt samengevoegd tot een index van tellingen van organismen op basis van hun vervuilingstolerantie.</p>
<p>Waarnemingen van de waterkwaliteit die niet tot een van deze klassen behoren, moeten worden beschreven als algemene waarnemingen met de klasse Waarneming.</p>
<p>Ten slotte biedt de klasse WaterFeature de mogelijkheid om duidelijk aan te geven welk Object wordt waargenomen of bemonsterd (bv. het kanaal Brussel-Charleroi), hetzij als een WaterFeature getypt door middel van een waarde uit een codelijst, hetzij door rechtstreeks te verwijzen naar de instantie van het getypte object.</p>
<p>Een meer formele definitie van de termen die in dit toepassingsprofiel worden gebruikt, is te vinden in de <a href="https://purl.eu/ns/air-and-water/water">woordenschat ODALA Air & Water - Water</a></p>
{% endblock %}
