{% extends "purl-ap2_nl.j2" %}

{% block summary %}
<p>Het applicatieprofiel Consent tonen hoe termen uit het overeenstemmend vocabularium gebruikt moeten worden om persoonlijke 
gegevens uit te wisselen en te verwerken van een persoon die hier eerst instemming voor dient te geven.</p>
<p>Dit applicatieprofiel maakt deel uit van het TRAPEZE-project. Een project gefinancierd door de Europese Commissie, 
dat een platform as a solution levert voor organisaties en burgers met een aantal concrete doelstellingen op het gebied van veiligheid 
en privacy. Het beoogt belanghebbenden samen te brengen in een gemeenschappelijk kader om burgers de instrumenten 
en knowhow te verschaffen om hun veiligheid en privacy te beheren. Het wil instemmingsmechanismen ondersteunen en controleren of gegevens 
op de juiste manier worden gebruikt. Het doel is het vertrouwen van de burgers in de digitale economie te herstellen aan de hand van 
Logintegriteit, onweerlegbaarheid en het opbouwen van gegevensherkomst en transparantie door ontwerp. Concrete toepassingen die 
hun nut moeten bewijzen, worden uitgewerkt voor drie domeinen: overheid, telecom en de financiële sector.</p>
<p>Digitaal Vlaanderen werkt samen met Solid, dat Pods aan het ontwikkelen is om burgers opnieuw eigenaar te maken 
van hun persoonlijke gegevens. In het licht van deze samenwerking hebben we geprobeerd om toestemming voor het gebruik van persoonlijke 
gegevens semantisch te modelleren. Doorheen het model is hergebruik en de conformiteit met verwante internationale standaarden, zoals DPV, 
GConsent, CCCEV, OSLO Generic etc. gemaximaliseerd.</p>
{% endblock %}
