{% extends "purl-ap2_nl.j2" %}

{% block summary %}
<p>Het toepassingsprofiel Consent laat zien hoe termen uit het begeleide vocabularium moeten zijn 
Gebruikt voor de uitwisseling en verwerking van persoonsgegevens van een persoon die hiervoor toestemming heeft gegeven.</p>
<p>Dit toepassingsprofiel maakt deel uit van het TRAPEZE-project. Een project gefinancierd door de Europese Commissie, 
dat een platform levert als oplossing voor organisaties en burgers met een aantal concrete doelstellingen op het gebied van veiligheid 
en privacy. Het is bedoeld om belanghebbenden samen te brengen in een gemeenschappelijk kader om burgers de instrumenten te bieden 
en knowhow om hun beveiliging en privacy te beheren. Het wil toestemmingsmechanismen ondersteunen en die gegevens controleren 
wordt op de juiste manier gebruikt. Het doel is het vertrouwen van de burgers in de digitale economie te herstellen door de invoering van 
integriteit, onweerlegbaarheid en het opbouwen van gegevensherkomst en transparantie door ontwerp. Concrete toepassingen die 
Hun nut bewijzen worden uitgewerkt voor drie domeinen: overheid, telecom en de financiële sector.</p>
<p>Digitaal Vlaanderen werkt samen met Solid die werkt aan het gebruik van Pods om burgers hun 
eigendom van hun persoonsgegevens. In het licht van deze samenwerking hebben we geprobeerd toestemming te modelleren voor het gebruik van persoonlijke 
gegevens semantisch. Het model maximaliseerde het hergebruik en de conformiteit met verwante internationale normen, zoals DPV, 
GConsent, CCCEV, OSLO Generic enz.</p>
<p>Link naar woordenschat voor toestemming: <a href="https://purl.eu/ns/consent">https://purl.eu/ns/consent</a></p>
{% endblock %}
