{% extends "purl-ap2_nl.j2" %}

{% block summary %}
<p>In dit toepassingsprofiel wordt uitgelegd hoe terminologie over toestemming moet worden gebruikt. Onder toestemming verstaan we de toestemming die nodig is van een persoon om zijn persoonsgegevens te verwerken.</p>
<p>Vrijwel alle noodzakelijke termen komen uit een bestaande ontologie over het verwerken van persoonsgegevens, namelijk de <a href="”" https://www.w3id.org/dpv”="">Data Privacy Ontology</a> (DPV). Er werden ook enkele aanvullende termen gedefinieerd, zoals te zien is in het vocabulaire dat bij dit toepassingsprofiel hoort. </p>
<p>Hoewel DPV breder is en ook andere rechtsgrondslagen in overweging neemt, besteedt het speciale aandacht aan toestemming, gezien het belang van dit concept bij de uitwisseling van persoonsgegevens. </p>
<p>De terminologie in DPV is grotendeels gebaseerd op die in de AVG, maar zou andere soortgelijke wetgeving mogelijk maken. Zie <a href="”" https://www.w3id.org/dpv/dpv-gdpr”="">DPV-GDPR</a> voor verdere beperking tot GDPR-concepten. </p>
<p>Dit profiel is ontwikkeld in het kader van <a href="”" https://trapeze-project.eu/”="">TRAPEZE</a>, een door de Europese Commissie gefinancierd project om burgers instrumenten aan te reiken om hun veiligheid en privacy te beheren. Dit sluit aan bij de doelstelling van het <a href="”" https://solidproject.org/”="">Solid-project</a> waaraan Digitaal Vlaanderen bijdraagt en dat tot doel heeft burgers het eigenaarschap over hun persoonsgegevens terug te geven. Vandaar de noodzaak om toestemming semantisch te modelleren. </p>
<p>Het applicatieprofiel combineert twee versies van DPV: de <a href="”https://www.w3id.org/dpv/dpv-owl”">OWL-versie</a> voor klassen, attributen en associaties en de <a href="”" https://www.w3id.org/dpv/dpv-skos”="">SKOS-versie</a> voor opsommingen. </p>
<p>De centrale klasse is natuurlijk Consent. </p>
<p>Toestemming wordt gevraagd door een Verwerkingsverantwoordelijke voor de Verwerking van Persoonsgegevens van een Betrokkene. </p>
<p>Om de Toestemming te kunnen geven, moet de Betrokkene door middel van een Toestemmingsverklaring worden geïnformeerd over het Doel en het soort Verwerking dat erbij betrokken is. Toestemming kan een beperkte duur hebben. </p>
<p>Het model omvat een klasse PersonalDataHandling om alle aspecten van de verwerking van de gegevens waarvoor de betrokkene zijn toestemming zou moeten geven, te groeperen. Afgezien van het soort Persoonsgegevens, het Doel en het Type Verwerking en de Verwerker en/of Mogelijke Ontvanger, kunnen de Risico's en de Rechten van de Betrokkene worden gedocumenteerd, evenals de Technische of Organisatorische Maatregelen die zijn genomen om de privacy en beveiliging van de gegevens te waarborgen. </p>   
{% endblock %}
